body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2980b9;
    transition: background-color 0.3s ease;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 1.5em;
    background-color: #eee;
    color: #333;
}

.dark-mode .output {
    background-color: #fff;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.equal {
    grid-column: span 4;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.equal:hover {
    background-color: #2980b9;
}

.light-mode {
    background-color: #fff;
}

.dark-mode {
    background-color: #44038e;
    color: #fff;
}

.dark-mode-output {
    color: #fff;
}

#toggleDarkMode {
    grid-column: span 4;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#toggleDarkMode:hover {
    background-color: #2980b9;
}